<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>
<body ng-app="starter">


<ion-side-menus ng-controller="ContentController">

    <!-- Center content -->
    <ion-side-menu-content>

        <ion-content>
            {{ username }}
            <form class="form-box">
                <div class="list list-inset">
                <label class="item item-input ion-ios-person">
                    <input type="text" placeholder="username" required ng-model="username">
                </label>
                <label class="item item-input ion-ios-telephone">
                    <input type="text" placeholder="Phone Number" required ng-model="phn_no">
                </label>
                <label class="item item-input item-select ion-waterdrop">

                    <select required ng-model="blood_group">
                        <option>A+</option>
                        <option selected>B+</option>
                        <option>O+</option>
                    </select>
                </label>

                <label class="item item-input ion-ios-body">
                    <input type="text" placeholder="Age" ng-model="age">
                </label>

                <div class ='row'>
                    <div class="button-bar">
                        <a class="button " ng-click="last_donated(1)"><h3>1</h3><small>Months<br>Back</small></a>
                        <a class="button" ng-click="last_donated(3)"><h3>3</h3><small>Months<br>Back</small></a>
                        <a class="button" ng-click="last_donated(6)"><strong>6</strong><small>Months<br>Back</small></a>
                    </div>

                    <!--<div class="col-xs-4" ng-click="last_donated(1)">-->
                        <!--1 Month Back-->
                    <!--</div>-->
                    <!--<div class="col-xs-4" ng-click="last_donated(3)">-->
                        <!--3 Month Back-->
                    <!--</div>-->
                    <!--<div class="col-xs-4" ng-click="last_donated(6)">-->
                        <!--6 Month Back-->
                    <!--</div>-->

                </div>

                <br>
                <label class="item item-input ion-location">
                    <input type="text" placeholder="Location" ng-model="location">
                </label>





                    <button class="button button-block button-positive icon-left ion-home">
                        Login
                    </button>
                <!--<button type="button" class="btn btn-primary">SignUp</button>-->
                <!--<button type="submit" class="btn btn-default">Sign in</button>-->
                    </div>
            </form>

        </ion-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Projects</h1>
        </ion-header-bar>
    </ion-side-menu>

</ion-side-menus>
</body>
</html>
